name: build-and-test

on:
  push:
    branches:
      - master
    tags:
      - "v*"
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - "*"
    tags:
      - "*"
    paths-ignore:
      - "**.md"

jobs:
  multi-os:
    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: MacOS pre-build steps
        run: |
          gem install bundler
          brew install upx
        if: ${{ matrix.os == 'macos-latest' }}

      - name: Windows pre-build steps
        run: |
          choco install upx
        if: ${{ matrix.os == 'windows-latest' }}

      - name: Setup Nim
        uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: '1.6.0'
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Refresh package list
        run: nimble refresh

      - name: Compile
        run: make release

      - name: Configure git
        run: |
          git config --global user.email "hi@caian.org"
          git config --global user.name "Caian Ertl"

      - name: Execute in loop
        run: |
          # run a couple of times as a "stress test"
          for i in {1..50}; do ./committer && sleep 1; done

      - name: Rename artifact
        run: |
          if [ "${{ matrix.os }}" = "ubuntu-latest" ]; then
            export ARTIFACT="committer-${GITHUB_SHA}-linux"
          fi

          if [ "${{ matrix.os }}" = "macos-latest" ]; then
            export ARTIFACT="committer-${GITHUB_SHA}-macos"
          fi

          if [ "${{ matrix.os }}" = "windows-latest" ]; then
            export ARTIFACT="committer-${GITHUB_SHA}-windows.exe"
          fi

          mv committer "$ARTIFACT"

          ls -lash
          echo "ARTIFACT=${ARTIFACT}" >> "$GITHUB_ENV"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ env.ARTIFACT }}"
          path: "${{ env.ARTIFACT }}"
          retention-days: 1
